langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
pymupdf
wikipedia
langchain-text-splitters
sentence_transformers
faiss-cpu
pandas
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
